<p>
  <strong><%= forcast.description_display %></strong>
</p>
<p>
  <strong>Temperature</strong>
  <%= forcast.temperature %> F
</p>
<p>
  <strong>Feels Like</strong>
  <%= forcast.feels_like %> F
</p>
<p>
  <strong>Wind Speed</strong>
  <%= forcast.wind_speed %> MPH
</p>
<p>
  <strong>Humidity</strong>
  <%= forcast.humidity %>%
</p>